<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>进入文字笑话页面</string>
			<key>Leave</key>
			<string>离开文字笑话页面</string>
		</dict>
	</dict>
	<key>PictureViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>进入图片笑话页面</string>
			<key>Leave</key>
			<string>离开图片笑话页面</string>
		</dict>
	</dict>
</dict>
</plist>
